[submodule "src/px4_msgs"]
	path = src/px4_msgs
	url = git@github.com:Ceng407-8-Project/px4_msgs.git
[submodule "src/MicroXRCEDds"]
	path = src/MicroXRCEDds
	url = https://github.com/eProsima/Micro-XRCE-DDS-Agent.git
